.header {
  background-color: white;
  margin-bottom: 50px;
  padding: 14px 0;
  .header__wrapper {
    padding: 5px, 0px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    .header__column {
      align-items: center;
      h1 {
        margin-left: 3px;
        font-size: 23px;
        font-weight: 700;
        color: black;
      }
      span {
        font-size: 10px;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.5);
        position: fixed;
        position: absolute;
        top: 5px;
        left: 135px;
      }
      i {
        color: $red;
        font-size: 30px;
      }
      &:nth-child(1) {
        display: flex;
        position: relative;
      }
      &:nth-child(2) {
        width: 100%;
        justify-self: center;
      }
      &:last-child {
        justify-content: end;
      }
      ul {
        display: flex;
        a {
          color: grey;
        }
        font-weight: 600;
        max-width: none;
        text-transform: uppercase;
        li {
          background: #fff;
          padding: 3px 8px;
          display: inline-block;
          transition: background 0.25s ease-in-out;
          -moz-transition: background 0.25s ease-in-out;
          -webkit-transition: background 0.25s ease-in-out;
        }
        li:hover {
          background: $red;
          a {
            color: black;
          }
        }
        li:not(:last-child) {
          margin-right: 17px;
        }
      }
      form {
        width: 100%;
      }
    }
  }
}
