mixin videoBlock(video = {})
    .videoBlock#jsPreview
        a(href=routes.videoDetail(video.id)) 
                video.videoBlock__thumbnail(src=`/${video.videoFile}`)
                h4.vidoBlock__title=video.title
                if video.views === 1
                    h6.videoBlock__views 1 view
                else
                    h6.videoBlock__views #{video.views} views 