.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  video {
    border-radius: 30px;
    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }
  .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 25px;
    button {
      width: 100px;
      margin-bottom: 25px;
    }
    .video__title,
    .video__views,
    .video__description {
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      font-size: 22px;
      font-weight: 500;
    }
    .video__views {
      font-size: 14px;
    }
    .video__description {
      width: fit-content;
      font-size: 16px;
      background-color: #d2dae2;
      padding: 10px;
      border-radius: 25px;
    }
  }
  .video__comments {
    margin-top: 25px;
    .video__comment-number {
      font-size: 18px;
    }
  }
}
